.about-project {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
  margin-top: rem(124);

  &:before {
    content: '';
    background: $gray-2;
    width: 80%;
    position: absolute;
    left: rem(-120);
    top: 0;
    height: 100%;
    @media(max-width: $tablet) {
      width: 200%;
      text-align: center;
    }
  }

  @media(max-width: $tablet) {
    margin-top: 40px;
  }
}

.title-54 {
  font-weight: 700;
  font-size: rem(54);
  line-height: rem(64);
  text-transform: uppercase;
  margin-bottom: rem(40);

  span.red {
    color: $red !important;
    font-weight: 700;
    display: inline;
  }

  span {
    font-weight: 300;
  }

  @media(max-width: 1400px) {
    margin-bottom: rem(30);
  }
  @media(max-width: $tablet) {
    text-align: center;
    font-size: rem(38);
    line-height: 1.3;
    margin-bottom: rem(20);
  }
}

.title-40 {
  font-weight: 700;
  font-size: rem(40);
  line-height: rem(48);
  text-transform: uppercase;
  margin-bottom: rem(40);
  @media(max-width: 1400px) {
    margin-bottom: rem(30);
  }
  @media(max-width: $tablet) {
    text-align: center;
    font-size: rem(38);
    line-height: 1.4;
    margin-bottom: rem(20);
  }
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: rem(40);

  span {
    flex-shrink: 0;
    margin-right: rem(20);
    @media(max-width: 1400px) {
      margin-right: rem(16);
    }
  }

  &:after {
    content: "";
    width: 100%;
    height: 0.125rem;
    background: $black;
  }

  @media(max-width: 1400px) {
    margin-bottom: rem(30);
  }
  @media(max-width: $tablet) {
    margin-bottom: rem(25);
  }
}

.about-project__content {
  flex-basis: 50%;
  padding: rem(120) rem(80) rem(160) 0;
  position: relative;
  z-index: 1;

  p {
    letter-spacing: .2px;
    @media(max-width: 1400px) {
      font-size: rem(16);
      line-height: 1.5;
    }
    @media(max-width: $tablet) {
      text-align: center;
    }
  }

  &:before {
    content: "";
    mask: url("../img/icon/icon-quotes.svg") center center/contain no-repeat;
    -webkit-mask: url("../img/icon/icon-quotes.svg") center center/contain no-repeat;
    width: rem(133);
    height: rem(130);
    background: $red;
    position: absolute;
    left: 0;
    top: rem(-88);
    @media(max-width: 1400px) {
      display: none;
    }
  }

  @media(max-width: 1400px) {
    padding-top: rem(20);
    padding-bottom: rem(80);
  }
  @media(max-width: $tablet) {
    width: 100%;
    flex-basis: auto;
    padding: 40px 0;
  }
}

.about-project__person {
  flex-basis: calc(50%);
  position: relative;
  z-index: 1;
  @media(max-width: $tablet) {
    display: none;
  }
}

.about-project__pic {
  margin-top: rem(-324);
  max-width: 100%;

  img {
    max-width: rem(960);
    margin-right: rem(-200);
    @media(max-width: 1470px) {
      max-width: rem(640);
    }
    @media(max-width: 1400px) {
      margin-right: rem(-40);
    }
  }

  @media(max-width: 1400px) {
    margin-top: rem(-100);
    margin-bottom: rem(-80);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.about-project__info {
  position: relative;
  flex-basis: 50%;
  flex-shrink: 0;

  &:before {
    content: '';
    background: $white;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
  }
}

.about-project__info-content {
  position: relative;
  z-index: 1;
  padding: rem(80) 0 rem(90) rem(80);
  @media(max-width: 1400px) {
    padding: rem(60) 0 rem(80) rem(50);
  }
}

.about-project__info-description {
  font-weight: 600;
  font-size: rem(14);
  letter-spacing: .28px;
  line-height: 1.6;
  @media(max-width: 1400px) {
    font-size: rem(16);
    line-height: 1.5;
    br {
      display: none;
    }
  }
}

.about-project__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(30);
  margin-bottom: rem(16);

  span {
    color: $red;
    margin-left: rem(16);
    font-weight: 400;
  }

  @media(max-width: 1400px) {
    line-height: 1.4;
    font-size: rem(26);
  }
}

.location {
  margin-top: rem(164);
  @media(max-width: 1400px) {
    margin-top: rem(100);
  }
  @media(max-width: $tablet) {
    margin-top: 40px;
  }
}

.location-map {
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: $tablet) {
    img {
      max-width: 780px;
    }
  }
}

.location-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(40);
  padding: 0 rem(100);
  @media(max-width: 1400px) {
    margin-bottom: rem(30);
    padding: 0;
  }
  @media(max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
}

.location-head__pic {
  display: flex;
  margin-top: rem(-40);
  width: rem(546);
  margin-right: rem(15);
  @media(max-width: 1400px) {

    width: auto;
    max-width: 413px;
    margin-right: 0;
  }
  @media(max-width: $tablet) {
    max-width: 188px;
    margin-top: 0px;
  }
}

.text-center {
  text-align: center;
}

.reviews {
  margin-top: rem(120);
  @media(max-width: 1400px) {
    margin-top: rem(100);
  }
  @media(max-width: $tablet) {
    margin-top: 40px;
  }
}

.swiper-reviews {
  padding: 0 rem(230);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(80);
  @media(max-width: 1400px) {
    margin-top: rem(60);
    padding: 0 rem(180);
  }
  @media(max-width: $tablet) {
    padding: 0 40px;
    margin-top: 0;
  }
}

.swiper-arrow-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: rem(-40);
  @media(max-width: $tablet) {
    display: none;
  }
}

.swiper-arrow {
  width: rem(80);
  height: rem(80);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(229, 37, 45, 0.3);
  cursor: pointer;

  &:before {
    position: relative;
    z-index: 1;
    width: rem(16);
    height: rem(20);
  }

  &:after {
    position: absolute;
    background: $red;
    border-radius: 50%;
    width: rem(60);
    height: rem(60);
    content: '';
    transition: .25s;
    box-shadow: 0px 20px 30px 0px rgba(240, 73, 65, 0.30);
  }

  &:hover {
    &:after {
      width: rem(80);
      height: rem(80);
    }
  }
}

.arrow-right {
  margin-right: rem(-30);
  @media(max-width: 1400px) {
    margin-right: -5px;
  }
}


.arrow-left {
  margin-left: rem(-30);
  @media(max-width: 1400px) {
    margin-left: -5px;
  }
}

.reviews-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: $gray-2;
  padding: rem(60);
  @media(max-width: 1400px) {
    padding: rem(50);
  }
  @media(max-width: $tablet) {
    padding: 20px;
  }
}

.reviews-slider__pic {
  width: rem(130);
  height: rem(130);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(30);
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media(max-width: 1400px) {
    width: rem(100);
    height: rem(100);
  }
  @media(max-width: $tablet) {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
}

.reviews-slider__name {
  font-weight: 700;
  font-size: rem(30);
  line-height: rem(36);
  margin-bottom: rem(6);
  text-transform: uppercase;
  @media(max-width: 1400px) {
    font-size: rem(26);
  }
  @media(max-width: $tablet) {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews-slider__position {
  color: rgba(47, 49, 51, 0.75);
  font-size: rem(14);
  line-height: rem(20);
  @media(max-width: $tablet) {
    font-size: 10px;
    line-height: 14px;
  }
}

.reviews-slider__text {
  margin-top: rem(60);
  position: relative;

  &:before {
    content: '';
    background: $red;
    position: absolute;
    width: rem(40);
    height: rem(2);
    top: rem(-30);
    left: calc(50% - rem(20));
    @media(max-width: $tablet) {
      top: -10px;
      width: 20px;
      height: 2px;
      left: calc(50% - 10px);
    }
  }

  @media(max-width: 1400px) {
    font-size: rem(15);
    line-height: 1.5;
  }
  @media(max-width: $tablet) {
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
  }
}

.title-line {
  position: relative;

  &:before {
    content: '';
    background: $red;
    height: 3px;
    width: rem(40);
    position: absolute;
    bottom: rem(-23);
    left: calc(50% - rem(20));
    @media(max-width: 1400px) {
      bottom: rem(-15);
      height: 2px;
      width: 40px;
      left: calc(50% - 20px);
    }
    @media(max-width: $tablet) {
      width: 20px;
      left: calc(50% - 10px);
    }
  }
}

.result {
  position: relative;
  padding-top: rem(100);

  .container {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: rem(474);
    background: $gray-2;
    @media(max-width: 1400px) {
      background: transparent;
    }
  }

  @media(max-width: 1400px) {
    padding-top: 0;
  }
}

.swiper-result {
  position: relative;
  padding: 0 rem(200);
  font-family: Montserrat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: rem(80);

  .swiper-arrow-container {
    top: calc(rem(270) - rem(40));
  }

  @media(max-width: 1400px) {
    margin-top: rem(70);
    padding: 0 rem(120);
  }
  @media(max-width: $tablet) {
    padding: 0 60px;
  }
}

.result-item__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.result-block {
  margin-top: rem(160);
  @media (max-width: 1400px) {
    margin-top: 80px;
  }
  @media(max-width: $tablet) {
    padding: 40px 0;
    background: $gray-2;
    margin-top: 26px;
  }
}

.result-item__title {
  font-weight: 600;
  font-size: rem(24);
  margin-top: rem(40);
  border-bottom: 1px solid $black;
  padding: 0 rem(40) rem(20);
  line-height: rem(30);
  @media(max-width: 1400px) {
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 14px;
    line-height: 18px;
    padding-left: 0;
    padding-right: 0;
  }
}

.result-item__name {
  margin-top: rem(20);
  font-size: rem(16);
  text-transform: uppercase;
  font-weight: 600;

  span {
    color: $red;
  }

  @media(max-width: 1400px) {
    font-size: 12px;
    margin-top: 14px;
  }
  @media(max-width: $tablet) {
    font-size: 14px;
  }
}

.result-item__description {
  margin-top: rem(10);
  font-weight: 500;
  font-size: rem(14);
  line-height: rem(20);
  padding: 0 rem(40);
  @media(max-width: 1400px) {
    font-size: 10px;
    margin-top: 10px;
    padding: 0;
  }
  @media(max-width: $tablet) {
    font-size: 12px;
  }
}

.news-container {
  margin-top: rem(110);
  @media(max-width: 1400px) {
    margin-top: 72px;
  }
  @media(max-width: $tablet) {
    margin-top: 48px;
  }
}

.news-head {
  display: flex;
  align-items: center;
  margin-bottom: rem(80);

  .swiper-arrow-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 20px;
    width: rem(170);
    margin-top: 0;
    @media(max-width: $mobile) {
      display: none;
    }
  }

  .line {
    width: 100%;
    margin-bottom: 0;
  }

  .arrow-right {
    margin-left: rem(10);
  }

  @media(max-width: 1400px) {
    margin-bottom: rem(70);
  }
  @media(max-width: $mobile) {
    margin-bottom: 40px;
  }
}

.swiper-news {
  @media(max-width: $mobile) {
    padding-right: 100px;
    margin-right: -20px;
  }
}

.news-item__pic {
  padding-bottom: rem(340);
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media(max-width: 1400px) {
    padding-bottom: rem(370);
  }
  @media(max-width: $mobile) {
    padding-bottom: 180px;
  }
}

.news-item {
  font-family: Montserrat;
  @media(min-width: $mobile) {
    .button {
      margin-top: rem(0);
      padding: 0 rem(40);
      transition: .25s;
      height: 0;
      overflow: hidden;
    }
    &:hover {
      .button {
        height: rem(60);
        margin-top: rem(20);
      }

      .news-item__content {
        margin-top: rem(-80);
      }

      .news-item__date {
        transform: translateY(rem(-80));
      }
    }
  }
  @media(max-width: $mobile) {
    height: 100%;
    position: relative;
    .news-item__content {
      position: initial;
    }
    .button {
      position: absolute;
      border-radius: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #CC2128 !important;
      color: white !important;
    }
  }
}

.news-item__date {
  position: absolute;
  width: rem(120);
  height: rem(120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: rem(40);
  transition: .25s;
  @media(max-width: 1400px) {
    left: 20px;
    width: 80px;
    height: 80px;
  }
  @media(max-width: $mobile) {
    width: 62px;
    height: 70px;
  }
}

.news-item__date-day {
  font-weight: 500;
  font-size: rem(50);
  line-height: rem(60);
  @media(max-width: $mobile) {
    font-size: 34px;
    line-height: 38px;
  }
}

.news-item__month {
  font-size: rem(14);
  line-height: rem(18);
  font-weight: 600;
  text-transform: uppercase;
  @media(max-width: $mobile) {
    font-size: 8px;
  }
}

.news-item__content {
  min-height: rem(192);
  padding: rem(40);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: .25s;
  background: white;
  position: relative;
  z-index: 1;
  @media(max-width: 1400px) {
    padding: 20px;
    min-height: 116px;
  }
  @media(max-width: $mobile) {
    min-height: auto;
    padding-bottom: 64px;
  }
}

.news-item__label {
  font-size: rem(14);
  text-transform: uppercase;
  line-height: rem(20);
  margin-bottom: rem(10);
  font-weight: 600;
  color: $red;
  @media(max-width: $mobile) {
    font-size: 10px;
  }
}

.news-item__title {
  font-size: rem(20);
  line-height: rem(26);
  font-weight: 600;
  margin-bottom: rem(10);
  @media(max-width: $mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}

.news-item__time {
  font-size: rem(14);
  opacity: .5;
  font-weight: 500;
}

.news-item-red {
  .news-item__content {
    background: $red;
    color: $white;
  }

  .news-item__label {
    color: $white;
  }

  .news-item__date {
    color: $white;
    background: rgba(229, 37, 45, 0.85);
  }

  .button {
    background: $white;
    color: $black;

    &:hover {
      background: rgba(255, 255, 255, 0.7);
    }
  }
}

.education {
  margin-top: rem(160);
  @media(max-width: 1400px) {
    margin-top: 80px;
  }
  @media(max-width: $tablet) {
    margin-top: 40px;
  }
}

.education-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
    position: relative;
    @media(max-width: $tablet) {
      &:before {
        content: '';
        background: $red;
        position: absolute;
        bottom: -12px;
        height: 2px;
        width: 20px;
        left: calc(50% - 10px);
      }
    }
  }

  p {
    max-width: rem(780);
    line-height: rem(26);
    @media(max-width: 1400px) {
      max-width: 550px;
      font-size: 14px;
      line-height: 22px;
      margin-left: 20px;
    }
    @media(max-width: $tablet) {
      margin-left: 0;
      margin-top: 52px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  @media(max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.education-steps {
  margin-top: rem(110);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: 1400px) {
    margin-top: 60px;
  }
  @media(max-width: $tablet) {
    overflow: auto;
    margin-right: -20px;
    padding-right: 20px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
      opacity: 0;
    }
  }
}

.education-step {
  flex-basis: rem(194);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  @media(max-width: $tablet) {
    flex-basis: 100px;
  }
}

.education-step__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: rem(195);
}

.education-step__number {
  font-size: rem(80);
  font-weight: 700;
  line-height: 1;
  color: $gray;
  margin-bottom: rem(10);
  @media(max-width: $tablet) {
    font-size: 60px;
  }
}

.education-step__text {
  font-weight: 600;
  font-family: Montserrat;
  font-size: rem(14);
  line-height: rem(20);
  text-transform: uppercase;
  @media(max-width: $tablet) {
    font-size: 10px;
  }
}

.education-step-active {
  flex-shrink: 0;
  flex-basis: rem(344);

  .button {
    width: rem(205);
    text-align: center;
    margin-left: rem(40);
    padding: 0 rem(40);
    font-size: rem(13);
    height: rem(80);
    border-radius: 40px;
    line-height: rem(20);
    @media(max-height: 1400px) {
      padding: 14px 20px;
      width: auto;
    }
    @media(max-width: $tablet) {
      margin-left: 20px;
    }
  }

  .education-step__number {
    color: $red;
  }

  .education-step__text {
    font-weight: 700;
  }

  @media(max-width: $tablet) {
    flex-basis: 228px;
  }
}

.education-arrow {
  &:before {
    width: rem(22);
    height: rem(32);
    background: $black;
  }

  @media(max-width: $tablet) {
    flex-shrink: 0;
    margin: 0 30px;
  }
}

.art-container {
  color: white;
  background: $red;
  position: relative;
  padding: rem(120);
  height: rem(998);
  @media(max-width: 1400px) {
    padding: 80px 60px;
    height: rem(940);
  }
  @media(max-width: $tablet) {
    padding: 40px 20px;
    margin: 0 -20px;
    height: auto;
  }
}

.art {
  margin-top: 200px;
  @media(max-width: 1400px) {
    margin-top: 120px;
  }
  @media(max-width: $tablet) {
    margin-top: 30px;
  }
}

.art-flex {
  display: flex;
  width: rem(584);
  margin-top: rem(80);
  position: relative;
  z-index: 1;
  height: calc(100% - rem(208));

  .icon {
    margin-bottom: rem(20);
    margin-right: 0;

    &:before {
      background: $white;
    }
  }

  & > .line {
    flex-direction: column;
    align-items: center;
    margin-right: rem(60);
    flex-shrink: 0;
    margin-bottom: 0;

    &:after {
      width: 1px;
      height: 100%;
      background: $white;
      opacity: .3;
    }

    @media(max-width: $tablet) {
      display: none;
    }
  }

  @media(max-width: 1400px) {
    height: calc(100% - rem(200));
    margin-top: rem(40);
    width: rem(650);
  }
  @media(max-width: $tablet) {
    height: auto;
    width: 100%;
    margin-top: 40px;
    .button {
      width: 100%;
      margin-top: 40px;
    }
  }
}

.art-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  p {
    line-height: rem(30);
  }

  .line {
    display: none;
  }

  @media(max-width: $tablet) {
    p {
      display: flex;
      font-size: 12px;
      line-height: 18px;
    }
    .icon {
      margin-bottom: 10px;
      margin-right: 0;

      &:before {
        background: $white;
      }
    }
    .line {
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      display: flex;
      flex-shrink: 0;
      margin-bottom: 0;

      &:after {
        width: 1px;
        height: 100%;
        background: $white;
        opacity: .3;
      }
    }
  }
}

.art-pic {
  width: rem(1340);
  height: rem(940);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  @media(max-width: 1600px) {
    width: rem(1150);
    height: rem(800);
  }
  @media(max-width: $tablet) {
    display: none;
  }
}

.swiper-button-disabled{
  pointer-events: none;
}

.kinds {
  position: relative;
  padding-top: rem(160);

  &:before {
    content: '';
    background: $gray-2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + rem(350));
  }
}

.kinds-block {
  display: flex;
  position: relative;
  z-index: 1;

  .swiper-arrow-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }

  .arrow-left {
    border: none;
    margin-right: rem(10);
    &:after {
      background: $white;
      box-shadow: none;
    }

    &:before {
      background: $black;
    }

    &:hover {
      &:after {
        background: $red;
        box-shadow: 0px 20px 30px 0px rgba(240, 73, 65, 0.3);
      }

      &:before {
       background: $white;
      }
    }
  }
}

.kinds-content {
  position: relative;
  z-index: 1;
  flex-basis: rem(460);
}

.kinds-label {
  font-size: rem(30);
  text-transform: uppercase;
  line-height: rem(36);
  margin-bottom: rem(50);
}

.kinds-content__items {
  height: rem(490);
  position: relative;
  width: 100%;
  flex-shrink: 0;
}

.kinds-content__item {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: .25s;
  pointer-events: none;
  left: 0;

  .line {
    margin: rem(50) 0;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.kinds-title {
  min-height: rem(180);
  font-size: rem(50);
  line-height: rem(60);
}

.kinds-option {
  display: flex;
  font-size: rem(14);
  line-height: rem(20);
  margin-bottom: rem(14);
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }
}

.kinds-option__label {
  flex-basis: rem(200);
  margin-right: rem(10);
}

.kinds-option__value {
  font-weight: 700;

  span {
    font-weight: 300;
  }
}

.kind-slide {
  transition: 1s;
  width: rem(340);
  height: rem(340);

  img {

  }
}

.kinds-slider {
  flex-basis: calc(100% - rem(460));
  margin-left: rem(120);
  margin-right: rem(-150);
  position: relative;
  height: rem(600);
  position: relative;
  .swiper-wrapper{
    transform: translate3d(0px, 0px, 0) !important;
  }
  .swiper-slide{
    width: rem(600);
    height: rem(600);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }


  .prev{
    .kind-slide{
      transform: scale(.5);
      opacity: 0;
    }
  }
  .swiper-slide-active {
    .kind-slide {
      width: rem(600);
      height: rem(600);
    }
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
}

.red{
  color: red;
}

.advantages{
  margin-top: rem(160);
  p{
    text-align: center;
    font-size: rem(20);
    line-height: rem(34);
    @media(max-width: 1400px) {
      font-size: 14px;
      line-height: 20px;
      margin-top: 32px;
    }
  }
  @media(max-width: 1400px) {
    margin-top: 80px;
  }
  @media(max-width: $tablet) {
    margin-top: 60px;
  }
}

.advantages-items{
  margin-top: rem(140);
  @media(max-width: 1400px) {
    margin-top: 68px;
  }
  @media(max-width: $tablet) {
    margin-top: 20px;
  }
}

.advantages-item{
  @media(max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages-item__title{
  font-weight: 600;
  font-family: Montserrat;
  font-size: rem(24);
  line-height: rem(30);
  @media(max-width: 1700px) {
    font-size: rem(22);
  }
  @media(max-width: 1400px) {
    font-size: 14px;
    line-height: 18px;
  }
  @media(max-width: $tablet) {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}

.advantages-item-line{
  height: 2px;
  width: 100%;
  background: $black;
  margin: rem(70) 0;
  @media(max-width: 1400px) {
    margin: 40px 0;
  }
  @media(max-width: $tablet) {
    margin: 20px 0;
    height: 1px;
  }
}

.advantages-item__pic{
  width: rem(145);
  margin-left: rem(-5);
  margin-bottom: rem(15);
  height: rem(145);
  @media(max-width: 1400px) {
    margin-bottom: 5px  ;
  }
}

.concept{
  margin-top: rem(160);
  p{
    text-align: center;
    margin-top: rem(80);
    @media(max-width: 1400px) {
      margin-top: 40px;
      font-size: 14px;
      line-height: 22px;
    }
    @media(max-width: $tablet) {
      margin-top: 30px;
      font-size: 12px;
      line-height: 16px;
      br{
        display: none;
      }
    }
  }
  @media(max-width: 1440px) {
    margin-top: 80px;
  }
  @media(max-width: $tablet) {
    margin-top: 60px;
  }
}

.fw-600{
  font-weight: 600;
}

.concept-item{
  display: flex;
  width: 54%;
  margin: rem(80) 0 auto auto;
  @media(max-width: 1400px) {
    width: 53%;
  }
  @media(max-width: $tablet) {
    margin: 40px 0 0 !important;
    width: 100%;
  }
  .line{
    display: flex;
    flex-direction: column-reverse;
    margin-right: rem(108);
    margin-bottom: 0;
    @media(max-width: 1400px) {
      margin-right: 45px;
    }
    @media(max-width: $tablet) {
      margin-right: 20px;
    }
    &:after{
      height: 100%;
      width: 1px;
      background: linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0.00) 100%);
    }
  }
  .icon{
    margin: 20px 0 0;
  }
  &:nth-child(2n){
    margin: rem(80) auto auto 0;
    text-align: right;
    flex-direction: row-reverse;
    .line{
      margin-right: 0;
      margin-left: rem(108);
      @media(max-width: 1400px) {
        margin-left: 45px;
      }
      @media(max-width: $tablet) {
        margin-left: 20px;
      }
    }
  }
  &:nth-child(1){
    position: relative;
    &:before{
      width: rem(1000);
      height: rem(1000);
      z-index: -1;
      content: '';
      border: rem(200) solid $gray-2;
      top: 0;
      left: rem(408);
      position: absolute;
      border-radius: 50%;
      @media(max-width: 1400px) {
        width: 620px;
        height: 620px;
        left: 295px;
      }
      @media(max-width: $tablet) {
        display: none;
      }
    }
  }
  &:nth-child(2){
    position: relative;
    &:before{
      width: rem(1000);
      height: rem(1000);
      z-index: -1;
      content: '';
      border: rem(200) solid $gray-2;
      top: rem(162);
      right: rem(408);
      position: absolute;
      border-radius: 50%;
      @media(max-width: 1400px) {
        width: 620px;
        height: 620px;
        right: 295px;
        top: 102px;
      }
      @media(max-width: $tablet) {
        right: 168px;
        top: 0;
        width: 436px;
        height: 436px;
      }
    }
  }
}

.concept-item__number{
  color: $red;
  font-size: rem(200);
  line-height: 1;
  font-weight: 700;
  margin-bottom: rem(20);
  @media(max-width: 1400px) {
    font-size: 100px;
  }
  @media(max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.concept-item__label{
  font-size: rem(30);
  margin-bottom: rem(20);
  line-height: rem(36);
  font-family: Montserrat;
  @media(max-width: 1400px) {
    font-size: 20px;
  }
  @media(max-width: $tablet) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

.concept-item__description{
  font-size: rem(20);
  line-height: 1.7;
  font-family: Montserrat;
  margin-bottom: rem(20);
  &:last-child{
    margin-bottom: 0 !important;
  }
  @media(max-width: 1400px) {
    font-size: 14px;
  }
  @media(max-width: $tablet) {
    font-size: 12px;
    line-height: 16px;
  }
}

.presentation{
  @media(max-width: $tablet) {
    margin-top: 40px;
  }
}

.presentation-container{
  background: $red;
  padding: rem(90) rem(80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: 1400px) {
    padding: 40px;
  }
  @media(max-width: $tablet) {
    padding: 30px 20px;
    margin: 0 -20px;
    flex-direction: column;
  }
}

.presentation-content{
  flex-basis: calc(47% - rem(60));
  color: white;
  @media(max-width: 1400px) {
    flex-basis: calc(38% - rem(30));
  }
  @media(max-width: $tablet) {
    text-align: center;
  }
}

.presentation-form{
  flex-basis: calc(53% - rem(60));
  @media(max-width: 1400px) {
    flex-basis: calc(62% - rem(30));
  }
}

.presentation-title{
  font-size: rem(34);
  line-height: rem(54);
  text-transform: uppercase;
  margin-bottom: rem(43);
  position: relative;
  &:before{
    content: '';
    position: absolute;
    bottom: rem(-23);
    left: 0;
    background: rgba(255, 255, 255, 0.25);
    width: 40px;
    height: 3px;
    @media(max-width: 1400px) {
      height: 2px;
    }
    @media(max-width: $tablet) {
      bottom: -10px;
      left: calc(50% - 15px);
      width: 30px;
    }
  }
  @media(max-width: 1400px) {
    max-width: 320px;
    line-height: 1.4;
  }
  @media(max-width: $tablet) {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
    max-width: 100%;
  }
}

.presentation-description{
  font-weight: 500;
  @media(max-width: 1400px) {
    font-size: 12px;
    line-height: 16px;
  }
  @media(max-width: $tablet) {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 30px;
  }
}

.presentation-form__line{
  display: flex;
  justify-content: space-between;
  .form-item{
    flex-basis: calc(50% - rem(20));
  }
  .form-input{
    border-bottom: 1px solid white;
    &::placeholder{
      color: white;
    }
    @media(max-width: $tablet) {
      text-align: center;
    }
  }
  @media(max-width: $tablet) {
    flex-direction: column;
  }
}

.presentation-form__line-bottom{
  margin-top: rem(40);
  align-items: center;
  .button, .agreed-message{
    width: calc(50% - rem(20));
    @media(max-width: $tablet) {
      width: 100%;
    }
  }
  .agreed-message{
    color: white;
    @media(max-width: $tablet) {
      text-align: center;
      margin-top: 10px;
    }
  }
  @media(max-width: 1400px) {
    margin-top: 14px;
  }
}

.model{
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: .25s;
  background: $red;
  top: calc(50% - rem(122));
  &:hover{
    background: $red-2;
  }
  @media(max-width: $tablet) {
    display: none;
  }
}

.model-title{
  transform: rotate(180deg);
  writing-mode: tb;
  display: flex;
  align-items: center;
  padding: rem(40) 0;

  color: $white;
  font-family: Montserrat;
  font-weight: 400;
  font-size: rem(13);
  line-height: 1;
  text-transform: uppercase;
}

.model-pic{
  width: rem(60);
  height: rem(90);
}

.model-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .model-logo{
    margin: 0 rem(60);
  }
}

.model-content{
  flex-basis: rem(580);
  font-family: Montserrat;
  flex-shrink: 0;
  .title-54{
    margin-bottom: rem(120);
  }
}

.model-top-text{
  padding-left: rem(78);
  font-weight: 500;
  line-height: rem(30);
  position: relative;
  .line{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    .icon{
      margin-bottom: rem(20);
      margin-right: 0;
    }
    &:after{
      width: 1px;
      height: rem(1118);
    }
  }
}


.model-video{
  display: flex;
  align-items: center;
  margin-top: rem(195);
  &:hover{
    .model-video__icon{
      &:after{
        width: rem(100);
        height: rem(100);
      }
    }
  }
}

.model-video__content{
  margin-left: rem(20);
  text-transform: uppercase;
  font-size: rem(13);
  line-height: rem(22);
  display: flex;
  flex-direction: column;
}

.model-video__description{
  font-weight: 700;
}

.model-video__icon{
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid rgba(229, 37, 45, 0.30);
  width: rem(100);
  height: rem(100);
  display: flex;
  align-items: center;
  justify-content: center;
  &:before{
    z-index: 1;
    width: rem(25);
    height: rem(25);
    margin-left: rem(3);
  }
  &:after{
    content: '';
    position: absolute;
    width: rem(80);
    height: rem(80);
    transition: .25s;
    border-radius: 50%;
    background: $red;
    box-shadow: 0px 20px 30px 0px rgba(240, 73, 65, 0.30);
  }
}

.model-logo{
  width: rem(100);
  flex-shrink: 0;
}

.model-schema{
  flex-shrink: 0;
  position: relative;
  path{
    transition: all .25s linear;
    &.active{
      fill-opacity: .8;
    }
  }
}

.model-pic-face{
  position: relative;
  z-index: 1;
  display: flex;
}

.modal-pic-face__schema{
  position: absolute;
  top: rem(137);
  left: rem(164);
  width: rem(309);
  height: rem(449);
  & > svg{
    width: 100%;
    height: 100%;
  }
}

.modal-pic-body__schema{
  position: absolute;
  top: rem(181);
  right: rem(144);
  width: rem(300);
  height: rem(596);
  & > svg{
    width: 100%;
    height: 100%;
  }
}

.schema-tooltip{
  position: absolute;
  left: calc(100% + rem(61));
  padding: rem(11) rem(20);
  background: $white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: rem(13);
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.20);
  opacity: 0;
  transition: all .5s linear;
  transform: translateX(-20px);
  &:before{
    content: '';
    background: url("../img/schema-arrow.svg");
    position: absolute;
    left: rem(-7);
    width: rem(9);
    height: rem(11);
  }
  &.active{
    opacity: 1;
    transform: translateX(0px);

  }
}

.model-schema-face{
  margin-right: rem(-120);
  width: rem(960);
}

.model-schema-face:before{
  position: absolute;
  background: $gray-2;
  height: rem(719);
  width: 300%;
  left: 0;
  bottom: 0;
  content: '';
  z-index: -1;
}

.model-block{
  @media(max-width: $tablet) {
    display: none;
  }
}

.model-bottom{
  margin-top: rem(100);
  display: flex;
  align-items: flex-start;
  margin-left: rem(60);
  .model-logo{
    margin: 0 rem(120) 0 rem(60);
    position: relative;
    &:before{

      content: '';
      background: url("../img/model-i.svg");
      background-size: cover;
      width: rem(172);
      height: rem(175);
      position: absolute;
      top: rem(-46);
      left: rem(-221);
    }
  }
}

.model-schema-body{
  width: rem(781);
  flex-shrink: 0;
  &:before{
    content: '';
    background: $gray-2;
    position: absolute;
    right: 0;
    width: 300%;
    top: rem(196);
    height: rem(579);
    z-index: -1;
  }
}

.model-pic-body{
  position: relative;
  z-index: 1;
}

.model-bottom__text{
  margin-top: rem(188);
  p{
    max-width: rem(500);
    margin-top: rem(58);
  }
  .line{
    position: relative;
    &:after{
      width: 300%;
      position: absolute;
      left: rem(38);
    }
  }
  .model-video{
    margin-top: rem(170);
  }
}

.model-block-mobile{
  display: none;
  overflow: hidden;
  font-family: Montserrat;
  position: relative;
  @media(max-width: $tablet) {
    display: flex;
  }
  p{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .title-54{
    margin-bottom: 20px;
  }
}

.model-slide-top{
  margin-top: 40px;
  margin-bottom: 40px;
  &.active{
    .model-slide-content{
      transform: translateX(-54.6%);
    }
    .model-switcher-line{
      left: 50px;
      width: calc(100% - 70px);
    }
    .model-slide-top-arrow-left{
      pointer-events: auto;
      transform: translateX(0);
      opacity: 1;
    }
    .model-slide-switcher-right{
      opacity: 0;
      pointer-events: auto;
      transform: translateX(10px);
    }
  }
}

.model-slide-content{
  display: flex;
  width: calc(200% + 20px);
  transition: all .5s linear;
  padding: 0 20px;
  img{
    width: 100%;
  }
}

.model-slide-left{
  display: flex;
  flex-basis: calc(50% + 10px);
  flex-shrink: 0;
  align-items: flex-end;
}

.model-slide-logo{
  flex-shrink: 0;
  flex-basis: 11.7%;
  margin-right: 20px;
}

.model-slide-right{
  display: flex;
  flex-basis: calc(50% + 10px);
  flex-shrink: 0;
}

.model-slide-video{
  flex-shrink: 0;
  flex-basis: 11.7%;
  margin-left: 20px;
}

.model-slide-video{
  flex-direction: column;
  margin-top: 0;
  justify-content: flex-end;
  .model-video__content{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: -2px;
  }
  .model-video__icon{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    &:before{
      width: 10px;
      height: 10px;
      margin-left: 1px;
      animation: icon-animation .5s linear 1s infinite alternate;
    }
    &:after{
      width: 32px;
      height: 32px;
      animation: circle-animation .5s linear 1s infinite alternate;
    }
  }
}

@keyframes circle-animation {
  from{
    width: 32px;
    height: 32px;
  }
  to{
    width: 40px;
    height: 40px;
  }
}

@keyframes icon-animation {
  to{
    transform: scale(1.15);
  }
}

.model-slide{
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
}

.model-slide-switcher{
  height: 14px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 20px;
}

.model-slide-top-arrow-left{
  position: absolute;
  height: 6px;
  display: flex;
  align-items: center;
  width: 20px;
  transition: all .5s linear;
  left: 20px;
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none;
  &:before{
    background: $red;
    animation: arrow-animation 1s linear 1s infinite alternate;
    position: absolute;
    right: 0;
    width: 6px;
    height: 12px;
  }
}

.model-slide-switcher-right{
  position: absolute;
  right: 20px;
  transform: translateX(0);
  transition: all .5s linear;
}

.model-slide-top-arrow-right{
  margin-left: 5px;
  position: relative;
  height: 6px;
  display: flex;
  align-items: center;
  width: 20px;
  transition: all .5s linear;
  &:before{
    background: $red;
    animation: arrow-animation-right 1s linear 1s infinite alternate;
    position: absolute;
    right: auto;
    left: 0;
    width: 6px;
    height: 12px;
  }
}

.model-switcher-line{
  position: absolute;
  width: calc(100% - 180px);
  transition: all .5s linear;
  height: 1px;
  background: black;
  left: 20px;
}

@keyframes arrow-animation {
  from{
    right: 0;
  }
  to{
    right: 14px;
  }
}

@keyframes arrow-animation-right {
  from{
    left: 0;
  }
  to{
    left: 14px;
  }
}

.model-slide-switcher-right{
  transition: all .5s linear;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.model-slide-pic{
  width: calc(100% - 20px - 11.7%);
}

.model-slide-bottom{
  overflow: hidden;
  margin-top: 20px;
  .model-slide-left{
    flex-direction: row-reverse;
    .model-slide-logo{
      margin-right: 0;
      margin-left: 20px;
    }
  }
  .model-slide-right{
    flex-direction: row-reverse;
    .model-video{
      margin-left: 0;
      margin-right: 20px;
    }
  }
  .model-slide-content{
    transform: translateX(-50.6%);
    flex-direction: row-reverse;
  }
  .model-slide-top-arrow-left{
    transform: rotate(180deg) translateX(-10px);
    right: 20px;
    left: auto;
  }
  .model-switcher-line{
    left: 160px;
  }
  .model-slide-switcher-right{
    flex-direction: row-reverse;
    left: 0;
    right: auto;
    .icon{
      transform: rotate(180deg);
      margin-left: 0;
      margin-right: 5px;
    }
  }
  &.active{
    .model-slide-content{
      transform: translateX(2%);
    }
    .model-slide-top-arrow-left{
      opacity: 1;
      transform: rotate(180deg) translateX(0px);
    }
    .model-slide-switcher-right{
      opacity: 0;
      transform: translateX(-10px);
    }
    .model-switcher-line{
      left: 20px;
      width: calc(100% - 70px);
    }
  }
}