.header-flex{
  padding: rem(60) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
  @media(max-width: $tablet) {
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    margin: 0 -20px 40px;
  }
}

.header-logo{
  flex-basis: rem(234);
  flex-shrink: 0;
  display: flex;
  margin-right: rem(40);
  @media(max-width: 1520px) {
    flex-basis: rem(200);
  }
  @media(max-width: 1400px) {
    flex-basis: rem(180);
  }
  @media(max-width: $tablet) {
    flex-basis: auto;
    width: 117px;
    margin-right: 0;
  }
}

.header-contact{
  margin-left: 5px;
  @media(max-width: $tablet) {
    display: none;
  }
}

.header-contact__link{
  display: flex;
  align-items: center;
  font-size: rem(16);
  font-weight: 600;
  line-height: rem(18);
  margin-bottom: rem(6);
  white-space: nowrap;
  .red{
    margin-right: 3px;
  }
  &:last-child{
    margin-bottom: 0;
  }
  .icon{
    &:before{
      background: $red;
      width: rem(14);
      height: rem(14);
      margin-left: rem(6);
    }
  }
  &:hover{
    color: $red;
  }
  @media(max-width: 1400px) {
    font-size: 10px;
  }
}

.header-mail{
  font-weight: 600;
  font-size: rem(15);
  line-height: rem(18);
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 5px;
  &:hover{
    color: $red;
  }
  @media(max-width: 1400px) {
    font-size: 10px;
  }
  @media(max-width: $tablet) {
    font-size: 12px;
    margin-top: 20px;
  }
}

.header-menu{
  @media(max-width: $tablet) {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-menu__items{
  display: flex;
  align-items: center;
  text-align: center;
  @media(max-width: $tablet) {
    flex-direction: column;
  }
}

.header-menu__item{
  margin: 0 rem(15);
  line-height: 1.2;
  @media(max-width: 1520px) {
    margin: 0 rem(10);
  }
  @media(max-width: 1400px) {
    margin: 0 10px;
  }
  @media(max-width: $tablet) {
    margin: 15px 0;
  }
}

.header-menu__link{
  font-size: rem(13);
  font-weight: 600;
  text-transform: uppercase;

  &:hover{
    color: $red;
  }
  @media(max-width: 1520px) {
    font-size: rem(12);
  }
  @media(max-width: 1400px) {
    font-size: 10px;
  }
  @media(max-width: $tablet) {
    font-size: 12px;
    line-height: 16px;
  }
}
.button-header{
  white-space: nowrap;
  margin-left: 5px;
  @media(max-width: $tablet) {
    flex-shrink: 0;
    margin-top: 10px;
  }
}

.header-block{
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  @media(max-width: $tablet) {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100dvh;
    right: 0;
    background: white;
    z-index: 10;
    padding: 20px 20px 40px;
    transition: .5s;
    left: -100%;
  }
  &.active{
    left: 0;
  }
}

.header-burger{
  display: none;
  @media(max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-2;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    &:before{
      width: 18px;
      height: 13px;
      background: $black;
    }
  }
}

.header-contact-mobile{
  display: none;
  @media(max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $red;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:before{
      width: 20px;
      height: 18px;
    }
  }
}

.header-block__close{
  display: none;
  @media(max-width: $tablet) {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: center;
    justify-content: center;
    background: $gray-2;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    &:before{
      background: black;
      width: 14px;
      height: 14px;
    }
  }
}

.header-contact-tel-m{
  display: none;
  @media(max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 44px;
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 30px;
    flex-shrink: 0;
    border: 1px solid rgba(51, 51, 51, 0.10);
  }
  .red{
    margin-right: 4px;
  }
}

.header-contact-wh-m{
  display: none;
  @media(max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 44px;
    width: 100%;
    flex-shrink: 0;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 30px;
    border: 1px solid $red;
    .icon{
      margin-right: 10px;
      &:before{
        width: 18px;
        height: 18px;
        background: $red;
      }
    }
  }
}

.header-modal-contact-block{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  text-align: center;
  justify-content: center;
}

.menu-mobile-active{
  overflow: hidden;
  .header-block{
    left: 0;
  }
}

.contact-mobile-active{
  overflow: hidden;
  .header-modal-contact{
    left: 0;
  }
}

.modal-success-active{
  .header-modal-success{
    left: 0;
  }
}

.header-modal-contact, .header-modal-success{
  position: fixed;
  left: -100%;
  top: 0;
  height: 100dvh;
  transition: .5s;
  width: 100%;
  z-index: 10;
  padding: 80px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: space-between;
  .form-input{
    border-bottom: 1px solid $black;
    &::placeholder{
      color: rgba(51, 51, 51, 0.29);
    }
  }
  .agreed-message{
    color: rgba(51, 51, 51, 0.60);
    margin-top: 10px;
    text-align: center;
  }
}

.form-header-block{
  margin: 0 -20px;
  background: $gray-2;
  padding: 40px;
  margin-top: 40px;
  input{
    color: $black;
  }
}